.errorCheckEmail {
    width: 539px;
    padding: 64px 86px;
    background: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.errorCheckEmail div {
    text-align: center;
}

.icon {
    color: #ff4d4f;
    font-size: 80px;
}
