.remember {
    margin-top: 54px;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin-top: 24px;
}

@media (max-width: 768px) {
    .buttonsContainer {
        margin-top: 8px;
    }
}
